@font-face {
  font-family: "iconfont"; /* Project id 2362518 */
  src: url('iconfont.woff2?t=1680371687331') format('woff2'),
       url('iconfont.woff?t=1680371687331') format('woff'),
       url('iconfont.ttf?t=1680371687331') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cmd:before {
  content: "\e8e5";
}

.icon-root:before {
  content: "\e604";
}

.icon-android-phone:before {
  content: "\e623";
}

.icon-app2:before {
  content: "\e618";
}

.icon-info:before {
  content: "\e603";
}

.icon-device-offline:before {
  content: "\e622";
}

.icon-refresh:before {
  content: "\e6ab";
}

.icon-out:before {
  content: "\e60c";
}

.icon-android:before {
  content: "\e633";
}

.icon-about:before {
  content: "\e659";
}

.icon-app:before {
  content: "\e63e";
}

